* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

:root {
  --color-black: #12130f;
  --color-gray: #3f4045;
  --color-blue: #5d737e;
  --color-green: #7cb4b8;
  --color-softblue: rgba(149, 184, 201, 0.16);
  --color-skyblue: #C4FBFF;
  --color-white: #fcfcfc;
  --color-white-dark: #f7f9fb;
}
/* ----------HEADER START------------- */

.navContainer {
  display: flex;
  height: 90px;
  padding: 0 60px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer {
  width: 50%;
  display: inherit;
  justify-content: center;
}

.menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer a {
  color: var(--color-black);
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 285px;
}

.buttons a{
  font-size: 12px;
}

/* Global style for buttons */
button {
  width: 125px;
  height: 35px;
}

.buttons .contact {
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
}

.buttons .extern-link {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.buttons .contact a {
  color: var(--color-white);
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buttons .extern-link a {
  color: var(--color-black);
  letter-spacing: -0.5px;
  font-weight: 550;
  text-transform: uppercase;
}

/* ----------HEADER END------------- */

/* ----------HERO START------------- */

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.heroCover {
  position: relative;
  width: 100%;
  height: 550px;
  border: 1px solid blue;
}

.heroImageContainer {
  height: 540px;
}

/* .heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.heroContainer {
  position: absolute;
  left: 70px;
  right: 70px;
  top: 135px;
  bottom: 40px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroDetails {
  border: 1px solid green;
  width: 620px;
  height: 320px;
}

.form {
  position: relative;
  display: inherit;
  justify-content: space-between;
  padding: 27px 16px;
  border: 1px solid black;
  width: 380px;
  height: 480px;
  flex-direction: column;
}
.background {
  position: absolute;
  z-index: -1;
  top: 27px;
  left: 16px; 
  border-radius: 5px;
  border: 1px solid blue;
  background-color: var(--color-white);
  width: 351px;
  height: 427px;
}
 
/* -----------HERO END-------------- */

/* -----------FUNCTION START-------- */

.function {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-softblue);
}

.functionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functionDescription h2 {
  font-size: 60px;
  margin: 28px;
}

.functionDescription p {
  margin: 50px 0;
  font-size: 24px;
  padding: 0 150px;
}

.functionContainer {
  /* Use another display method if necessary */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.functionItem {
  display: inherit;
  justify-content: space-between;
  margin: 20px 10px;
  padding: 30px 30px;
  align-items: center;
  width: 400px;
  height: 416px;
  flex-direction: column;
}

.functionItem h4 {
  font-size: 20px;
  font-weight: 600;
}

.functionItem p {
  font-size: 16px;
}

.itemImageContainer {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 140px;
}

.imgLogistica {
  padding-top: 16px;
}

.imgLibro {
  padding-top: 12px;
}

.imgFactura {
  padding-top: 5px;
}

.imgCuadro {
  padding-top: 8px;
}

.imgConta {
  padding-top: 11px;
}

.functionItem button {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.functionItem button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: var(--color-black);
  letter-spacing: -0.5px;
  font-weight: 550;
  text-transform: uppercase;
}

/* -----------FUNCTION END---------- */

/* ----------BENEFIT START---------- */

.benefits {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-skyblue);
}

.benefits h2 {
  margin: 28px;
  font-size: 60px;
  color: var(--color-green);
}

.benefitsContainer {
  display: inherit;
  justify-content: space-between;
  width: 1030px;
}

.benefitItem {
  display: inherit;
  width: 205px;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

.benefitItem img {
  margin: 50px 0;
  width: 200px;
  height: 180px;
}

.benefitsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 100px;
}

.benefitsDetails h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.benefitsDetails p {
  font-size: 16px;
  padding: 0 15px;
  width: 100%;
  line-height: 24px;
}

/* -----------BENEFIT END----------- */

/* ---------USERS START------------- */

.users {
  display: flex;
  height: 356px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.brand {
  display: flex;
  margin-top: 68px;
  width: 870px;
  justify-content: space-between;
}

.logoUsuario {
  width: 195px;
  height: 70px;
}
/* ----------USERS END-------------- */

/* --------FOOTER START------------- */

footer {
  display: flex;
  font-size: 14px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

footer a,
footer h4 {
  font-size: 12px;
}

footer .links ul {
  display: flex;
}

footer a {
  color: var(--color-black);
  margin: 4px;
}

footer h4 {
  color: var(--color-black);
}

/* ---------FOOTER END-------------- */