* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

:root {
  --color-black: #12130f;
  --color-gray: #3f4045;
  --color-blue: #5d737e;
  --color-green: #7cb4b8;
  --color-softblue: rgba(149, 184, 201, 0.16);
  --color-skyblue: #C4FBFF;
  --color-white: #fcfcfc;
  --color-white-dark: #f7f9fb;
}

/* ----------HEADER START------------- */

.navContainer {
  display: flex;
  height: 90px;
  padding: 0 60px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer {
  width: 50%;
  display: inherit;
  justify-content: center;
}

.menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer a {
  color: var(--color-black);
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 285px;
}

.buttons a {
  font-size: 12px;
}

/* Global style for buttons */
.size {
  width: 125px;
  height: 35px;
}

.animation {
  transition: color .5s
}

.wrande {
  width: 200px;
  height: 56px;
}

.linkFormat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* link:hover {
  cursor: pointer;
} */

.buttons .contact {
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
  display: flex;
  width: 124px;
  height: 35px;
}

.buttons .extern-link {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.buttons .contact a {
  color: var(--color-white);
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* border: 1px solid red; */
  min-height: 30px;
  /* height: -webkit-fill-available; */
}

.buttons .extern-link a {
  color: var(--color-black);
  letter-spacing: -0.5px;
  font-weight: 550;
  text-transform: uppercase;
  /* Whatch out */
}

/* ----------HEADER END------------- */

/* ----------HERO START------------- */

.hero {
  display: flex;
  justify-content: center;
  min-height: 590px;
  height: 90vh;
}

.heroCover {
  position: relative;
  width: 100%;
  height: 550px;
}

.heroImageContainer {
  display: block;
  height: 540px;
  overflow: hidden;
  object-fit: cover;
}

.heroImage {
  height: auto;
  max-width: 90%
}

/* .heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.heroContainer {
  position: absolute;
  left: 140px;
  right: 140px;
  top: 95px;
  bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heroDetails {
  width: 620px;
  height: 420px;
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.heroDetails h1 {
  color: var(--color-white);
  text-align: left;
  letter-spacing: 3px;
  font-size: 60px;
  text-shadow: 3px 3px 20px var(--color-black);
}

.heroDetails p {
  color: var(--color-white-dark);
  font-size: 30px;
  text-shadow: 3px 3px 10px var(--color-black);
}

.heroButtonContainer {
  position: relative;
  width: 100%;
  height: 37px;
  align-self: center;
}

.heroButton {
  position: absolute;
  background-color: var(--color-black);
  border-color: var(--color-black);
  color: var(--color-white);
  left: 30px;
}

.heroButton a {
  color: var(--color-white);
}

.form {
  position: relative;
  display: inherit;
  justify-content: space-around;
  align-items: center;
  padding: 27px 16px;
  width: 380px;
  height: 480px;
  flex-direction: column;
}

.background {
  position: absolute;
  z-index: 0;
  top: 22px;
  left: 16px;
  border-radius: 5px;
  background-color: var(--color-white);
  opacity: 0.3;
  width: 346px;
  height: 437px;
  box-shadow: 5px 5px 20px var(--color-black);
}

.formContainer {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid red; */
  width: 300px;
  height: 300px;
}

.formContainer input {
  z-index: 1;
  width: 271px;
  text-align: left;
  background-color: transparent;
  font-size: 18px;
  padding-top: 5px;
  height: 25px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--color-gray);
}

::placeholder {
  color: var(--color-gray)
}

.checkbox {
  z-index: 1;
  display: inherit;
  align-items: center;
  font-size: 12px;
}

.checkbox input {
  margin-right: 8px;
}

.formButton {
  z-index: 1;
  width: 290px;
  height: 55px;
  border-radius: 2px;
  border: none;
  background-color: var(--color-blue);
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-white);
}

.formButton a {
  color: var(--color-white)
}

/* -----------HERO END-------------- */

/* -----------FUNCTION START-------- */

.function {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-softblue);
}

.functionDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functionDescription h2 {
  font-size: 60px;
  margin: 28px;
}

.functionDescription p {
  margin: 20px 0;
  font-size: 24px;
  padding: 0 150px;
}

.functionContainer {
  /* Use another display method if necessary */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.functionItem {
  display: inherit;
  justify-content: space-between;
  margin: 10px 10px;
  padding: 25px 30px;
  align-items: center;
  width: 400px;
  height: 416px;
  flex-direction: column;
}

.functionItem h4 {
  font-size: 20px;
  font-weight: 600;
}

.functionItem p {
  font-size: 16px;
}

.itemImageContainer {
  display: inline-block;
  text-align: center;
  width: 140px;
  height: 140px;
}

.imgLogistica {
  padding-top: 16px;
}

.imgLibro {
  padding-top: 12px;
}

.imgFactura {
  padding-top: 5px;
}

.imgCuadro {
  padding-top: 8px;
}

.imgConta {
  padding-top: 11px;
}

.functionItem button {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.functionItem button a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: var(--color-black);
  letter-spacing: -0.5px;
  font-weight: 550;
  /* text-transform: uppercase; */
}

/* -----------FUNCTION END---------- */

/* -----------PLANS START----------- */

.plans {
  display: flex;
  height: 840px;
  align-items: center;
  justify-content: center;
}

.plansContainer {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.plansDescription h1 {
  font-size: 60px;
}

.plansDescription p:nth-child(1) {
  font-size: 30px;
  text-align: left;
  color: var(--color-blue);
}

.plansDetails {
  padding: 0 50px;
  width: 90vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leyend {
  display: inherit;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  width: auto;
}

.options {
  display: inherit;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inherit;
  justify-content: center;
}

.leyend p {
  font-size: 14px;
}

.leyend img {
  margin-right: 7px;
  padding: 3px 0;
}

.plansChart {
  display: grid;
  grid-template: ". planEmprendedor planMype planPyme" "system check check check" "system check check check" "system check check check" "system check check check" ". button button button";
  /* grid-gap: 1px; */
}

.chartButton button {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  color: var(--color-black);
}

.planEmprendedor {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 80px;
  grid-area: planEmprendedor;
}

.planMype {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 80px;
  grid-area: planMype;
}

.planPyme {
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 80px;
  grid-area: planPyme;
}

.content {
  background-color: var(--color-green);
  display: flex;
  height: calc(100% - 5px);
  border-radius: 2px;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  margin-bottom: 5px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-blue);
}

.system {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionDetails {
  display: flex;
  background-color: var(--color-white-dark);
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7px;
}

.dropDownContainer {
  padding: 20px;
}

.normalLetter {
  font-size: 18px;
}

.middleLetter {
  font-size: 14px;
}

.smallLetter {
  font-size: 12px;
}

/*
.system {
  grid-area: system;
}

.button {
  grid-area: button;
}

.check {
  height: 55px;
  width: 220px;
  grid-area: check;
}*/

/* .chartSection:nth-child(2),
.chartSection:nth-child(3),
.chartSection:nth-child(4) {
  border: 1px solid black;
  width: 220px;
  height: 708px;
} */

.chartSection:nth-child(4n+5) {
  box-sizing: content-box;
  width: 330px;
  height: 55px;
  border: 2px solid var(--color-blue);
}

.chartSection:nth-child(25), .chartSection:nth-child(1) {
  border: none;
  background: none;
}

.chartButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}

.chartButton a {
  font-size: 20px;
  font-weight: 550;
  color: var(--color-black);
}

/* -----------PLANS END----------- */

/* ----------BENEFIT START---------- */

.benefits {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 665px;
  background-color: var(--color-skyblue);
}

.benefits h2 {
  margin: 28px;
  font-size: 60px;
  color: var(--color-green);
}

.benefitsContainer {
  display: inherit;
  justify-content: space-between;
  width: 1030px;
}

.benefitItem {
  display: inherit;
  width: 205px;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

.benefitItem img {
  margin: 50px 0;
  width: 200px;
  height: 180px;
}

.benefitsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 100px;
}

.benefitsDetails h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.benefitsDetails p {
  font-size: 16px;
  padding: 0 15px;
  width: 100%;
  line-height: 24px;
}

/* -----------BENEFIT END----------- */

/* ---------USERS START------------- */

.users {
  display: flex;
  height: 356px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.brand {
  display: flex;
  margin-top: 68px;
  width: 870px;
  justify-content: space-between;
}

.logoUsuario {
  width: 195px;
  height: 70px;
}

/* ----------USERS END-------------- */

/* --------FOOTER START------------- */

footer {
  display: flex;
  font-size: 14px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

footer a, footer h4 {
  font-size: 12px;
}

footer .links ul {
  display: flex;
}

footer a {
  color: var(--color-black);
  margin: 4px;
}

footer h4 {
  color: var(--color-black);
}

/* ---------FOOTER END-------------- */

/* ------------GLOBAL--------------- */

.colorBlack,
.colorWhite {
  transition: all 0.3s;
}

.colorBlack:hover {
  border-color: var(--color-black);
  background-color: var(--color-white);
}

.colorBlack:hover a {
  color: var(--color-black)
}

.colorWhite:hover {
  background-color: var(--color-black)
}
.colorWhite:hover a {
  color: var(--color-white);
}