* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-black: #12130f;
  --color-gray: #3f4045;
  --color-blue: #5d737e;
  --color-green: #7cb4b8;
  --color-skyblue: #C4FBFF;
  --color-white: #fcfcfc;
  --color-white-dark: #f7f9fb;
}
/* ----------NAVBAR START------------- */

.navContainer {
  display: flex;
  height: 90px;
  padding: 0 60px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer {
  width: 50%;
  display: inherit;
  justify-content: center;
}

.menu {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}

.menuContainer a {
  color: var(--color-black);
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 285px;
}

.buttons a{
  font-size: 12px;
}

button {
  width: 125px;
  height: 35px;
}

.buttons .contact {
  background-color: var(--color-black);
  border: 2px solid var(--color-black);
}

.buttons .extern-link {
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
}

.buttons .contact a {
  color: var(--color-white);
  font-weight: 550;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buttons .extern-link a {
  color: var(--color-black);
  letter-spacing: -0.5px;
  font-weight: 550;
  text-transform: uppercase;
}

/* ----------NAVBAR END------------- */

/* -----------FUNCTION START-------- */



/* -----------FUNCTION END---------- */

/* ----------BENEFIT START---------- */

.benefits {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-skyblue);
}

.benefits h2 {
  margin: 28px;
  font-size: 60px;
  color: var(--color-green);
}

.benefitsContainer {
  display: inherit;
  justify-content: space-between;
  width: 1030px;
}

.benefitItem {
  display: inherit;
  width: 205px;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

.benefitItem img {
  margin: 50px 0;
  width: 200px;
  height: 180px;
}

.benefitsDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  height: 100px;
}

.benefitsDetails h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.benefitsDetails p {
  font-size: 16px;
  padding: 0 15px;
  width: 100%;
  line-height: 24px;
}

/* -----------BENEFIT END----------- */

/* ---------USERS START------------- */

.users {
  display: flex;
  height: 356px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.brand {
  display: flex;
  margin-top: 68px;
  width: 870px;
  justify-content: space-between;
}

.logoUsuario {
  width: 195px;
  height: 70px;
}
/* ----------USERS END-------------- */

/* --------FOOTER START------------- */

footer {
  display: flex;
  font-size: 14px;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

footer a,
footer h4 {
  font-size: 12px;
}

footer .links ul {
  display: flex;
}

footer a {
  color: var(--color-black);
  margin: 4px;
}

footer h4 {
  color: var(--color-black);
}

/* ---------FOOTER END-------------- */